@model AuthViewModel

@{
    ViewData["Title"] = "Вход";
}

<div class="text-center">
    <h1 class="display-4">Вход</h1>
    
    <form asp-action="Auth" method="post">
        <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Password" type="password" placeholder="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
        <input type="submit" value="Enter" />

    </form>
</div>
